node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Build outputs
android/.gradle/
android/app/build/intermediates
android/build/
android/capacitor-cordova-android-plugins/build
android/local.properties

# IDE
android/.idea/
android/*.iml

# Keystore (IMPORTANTE!)
android/app/*.keystore
android/app/*.jks